#search-panel input {
    height: 2.7em!important;
}

#search-container {
    background: radial-gradient(#3333339e, #33333300);
}

#search-container p {
    color: #fff!important;    
}

#search-container h1 {
    color: #fff!important;
}

.border0 {
    border: 0!important;
}

.shadow0 {
    box-shadow: none !important;
}

.italic {
    font-style: italic;
}

.jumbotron .container {    
    max-width: 50rem;
}

.brand-color {
    color: #007bff;
}