#search-panel input {
    height: 2.7em!important;
}

#search-container {
    /* background: radial-gradient(#3333339e, #33333300); */
}

#search-container p {
    color: #fff!important;    
}

#search-container h2 {
    color: #fff!important;
}

#footer-copyright {
    background: #000;
    text-align: center;
    color: #fff;
    padding: 0.8em;
    font-size: 10pt;
}

#post-pager .p-switch {
    border: 1px solid #909496;
    padding: 0.4em;
    font-size: 11pt;
    border-radius: 2px;
    margin-right: 0.5em;
    min-width: 2em;
    text-align: center;
    cursor: pointer;
    color: #555;
}

.strong {
    font-weight: bold;
}

.bc-black {
    background-color: #000!important;
}

.bc-white {
    background-color: #fff!important;
}

.c-white {
    color: #fff!important;
}

.flex-1 {
    flex: 1;
}

.border0 {
    border: 0!important;
    border-radius: 0!important;
}

.shadow0 {
    box-shadow: none !important;
}

.italic {
    font-style: italic;
}

.jumbotron .container {    
    max-width: 50rem;
}

.brand-color {
    color: #007bff;
}